:root {
    --surface: #FFFFFF;
    --node_background_colour:#FFFFFF;
    --node_border: 1px solid #ccc;
    --standard_note_bg_colour: white;
    --standard_note_border: 1px solid black;
    --sharp_note_bg_colour: #292929;
    --node_background_opacity: 100%;
    --primary: #00ff9d;
    --primary_variant: #00cc7e;
    --secondary: #ffcfec;
    --secondary_variant: #cc9fbc;
}

[data-theme="dark"]{
    --surface: #121212;
    --node_background_opacity: 5%;

}

#controller-panel {
    position: relative;
    /* Change from absolute to relative positioning */
    max-width: 721px;
    margin-top: 20px;
    /* Add margin-top to create space between containers */
}



.keys {
    position: absolute;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    outline: auto;
    width: fit-content;
}

.whitenote {
    height: 100%;
    width: 50px;
    background: var(--standard_note_bg_colour);
    float: left;
    border-right: var(--standard_note_border);
    position: relative;
}

.blacknote {
    position: absolute;
    height: 65%;
    width: 55%;
    z-index: 1;
    background: var(--sharp_note_bg_colour);
    left: 68%;
}

.module {
    position: relative;
    background: var(--node_background_colour);
    border-radius: 10px;
    border: var(--node_border);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    height: auto;         /* Important if parent tries to stretch it */
}

#module-panel .module {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#module-panel {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
}

#add-module {
    width: 150px;
    /* Sets a specific width for the add module section */

    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Adds space between elements within the add module section */
}

.vertical-slider {
    writing-mode: vertical-lr;
    direction: rtl;
    width: 8px;
    height: 128px;
    color: var(--primary);
}

.module-box {
    display: inline-flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    background: var(--node_background_colour);
    border-radius: 10px;
    border: var(--node_border); 
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    height: fit-content;
    }