:root {
    --surface: #FFFFFF;
    --node_background_colour: #FFFFFF;
    --node_border: 1px solid #fff;
    --standard_note_bg_colour: white;
    --standard_note_border: 1px solid black;
    --sharp_note_bg_colour: #292929;
    --node_background_opacity: 1;
    --field_background_opacity:1;
    --primary: #f94c57;
    --primary_variant: #de1f36;
    --primary_variant2:#f94c57;
    --secondary: #f9974c;
    --secondary_variant: #ffd262;
    --module_boarder_shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

[data-theme="dark"] {
    --surface: #121212;
    --node_background_opacity: 5%;
    --field_background_opacity:10%;
    --module_boarder_shadow: null;
    /* --primary:#00ff9d; */
    /* --primary_variant:#00cc7e; */
}

#controller-panel {
    position: relative;

    /* max-width: 721px; */
    margin-top: 20px;

}



.keys {
    position: absolute;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    outline: auto;
    width: fit-content;
}

.whitenote {
    height: 100%;
    width: 50px;
    background: var(--standard_note_bg_colour);
    float: left;
    border-right: var(--standard_note_border);
    position: relative;
}

.blacknote {
    position: absolute;
    height: 65%;
    width: 55%;
    z-index: 1;
    background: var(--sharp_note_bg_colour);
    left: 68%;
}

.module {
    position: relative;

    box-shadow: var(--module_boarder_shadow);
    border-radius: 5px;
    background:  rgba(var(--node_background_colour), var(--node_background_opacity));
    border-radius: 10px;
    border: var(--node_border);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    height: auto;
    /* Important if parent tries to stretch it */
    padding: 5px;
}



#module-panel .module {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#module-panel {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
}

#add-module {
    width: 150px;
    /* Sets a specific width for the add module section */

    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Adds space between elements within the add module section */
}

.vertical-slider {
    writing-mode: vertical-lr;
    direction: rtl;
    width: 8px;
    height: 128px;
    color: var(--primary);
}



button {
    border-radius: 5px;
    --btn_margin: 5px;
    margin-left: var(--btn_margin);
    margin-right: var(--btn_margin);
    margin-bottom: var(--btn_margin);
    padding: var(--btn_margin);
    background-color: var(--primary);
    border: none;
    color:#ffffff;
}
button:hover {
    background-color: var(--primary_variant);
}
button:active {
    color: #f7f7f7;
    background-color: #e54c5e;
}

h1 { 
    font-weight: normal;
}

select{
    padding: 5px;
    border-radius: 5px;
    box-shadow: var(--module_boarder_shadow);
    border: none;
    background: var(--surface);
    opacity: var(--field_background_opacity);
}

