<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <title>Open Synth</title>
    <!-- <script src="static/js/modules/controllers/oscillator/oscillator.mjs"></script> -->

</head>

<body>
<h1>Open Synth</h1>

<div id="module-controller">

</div>


<div id="controller-panel">

</div>

<div id="scripts">
    {% for script in script_files %}
        <script src="static/{{ script }}"></script>
    {% endfor %}
<script type="module" src="static/js/script.mjs"></script>
</div>

</body>